#servicesSection {
  background-image: url("./../assets/img/services/services-section.webp");
}

#pricingSection {
  font-size: 1.5rem;
  background-color: rgba(164, 102, 0, 0.99);
}

ul li {
  color: whitesmoke;
  font-size: 1.5rem;
  line-height: 2.5rem;
}